@charset "UTF-8";
/* Personalización adicional */
 .time-slot.disponible { background-color: #d4edda; } 
 .time-slot.ocupado { background-color: #f8d7da; } 
 .time-slot.bloqueado { background-color: #fff3cd; } 
 #calendar { height: 400px; } /* Altura fija para el calendario */ 
